In [22]:
#A1 ) Add the number in the list and remove first

def create_list( arr, num):
    try:
        arr.pop(0)
        arr.append(num)
        return arr
 
    except IndexError:
        raise Exception("No list has been selected")
        
arr = [1,2,3,4,5]
num = 6
arr1 = []
create_list(arr, num)

[2, 3, 4, 5, 6]

In [32]:
#A2) return sum of budget

def get_budgets(dictBudget):
    result = 0
    for i in dictBudget:
        result += i["budget"]
    return result
    
get_budgets([
{ "name":"John","age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) #65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) # 62600

65700

In [37]:
#A3) sort string
def alphabet_soup(word):
    return ''.join(sorted(word))
    
alphabet_soup("hello")

'ehllo'

In [ ]:
#A4) compound intesert 

import math

def compound_interest(p, t, r, y):
    n = 10
    result = math.pow(p*(1 + r/(12*y)), n*t)
    return result
compound_interest(100000, 10, 0.06, 12)

In [54]:
#A5) Return integers

def return_only_integer(arr):
    ints = []
    for i in arr:
        if type(i) == int:
            ints.append(i)
    return ints

return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]